<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="Quản lý dự án"
            sequence="0"/>
          
        <menuitem name="Quản lý dự án" 
            id="menu_du_an" 
            parent="menu_root" 
            sequence="1"
            action="action_du_an" />

        <menuitem id="menu_dashboard" name="Dashboard" parent="menu_root" sequence="5"/>
        <menuitem id="menu_dashboard_trang_thai" name="Thống kê Trạng Thái" action="action_dashboard_trang_thai" parent="menu_dashboard"/>
        <menuitem id="menu_dashboard_uu_tien" name="Thống kê Mức Độ Ưu Tiên" action="action_dashboard_uu_tien" parent="menu_dashboard"/>
    </data>
</odoo>