<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_root"
                  name="QLNS"
                  sequence="10"/>
          
        <menuitem id="menu_nhan_vien"
                  name="Quản lý nhân viên" 
                  parent="menu_root" 
                  action="action_nhan_vien"
                  sequence="10"/>

        <menuitem id="menu_danh_muc_chung"
                  name="Danh mục chung" 
                  parent="menu_root" 
                  sequence="100"/>

            <menuitem id="menu_don_vi"
                      name="Danh mục đơn vị" 
                      parent="menu_danh_muc_chung" 
                      action="action_don_vi"
                      sequence="10"/>

            <menuitem id="menu_chuc_vu"
                      name="Danh mục chức vụ" 
                      parent="menu_danh_muc_chung" 
                      action="action_chuc_vu"
                      sequence="20"/>

            <menuitem id="menu_chung_chi_bang_cap"
                      name="Danh mục loại chứng chỉ" 
                      parent="menu_danh_muc_chung" 
                      action="action_chung_chi_bang_cap"
                      sequence="30"/>

        <menuitem id="menu_lich_su_cong_tac"
                  name="Lịch sử công tác" 
                  parent="menu_root" 
                  action="action_lich_su_cong_tac"
                  sequence="20"/>

        <menuitem id="menu_danh_sach_chung_chi_bang_cap"
                  name="Danh sách chứng chỉ nhân viên" 
                  parent="menu_root" 
                  action="action_danh_sach_chung_chi_bang_cap"
                  sequence="30"/>
    </data>
</odoo>